@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");

// Font
$primary-font: "Share Tech", sans-serif;

// Colors
$color-1: #ff3864;
$color-2: #6610f2;
$color-3: #38aecc;
$color-4: #fdb833;
$bg-color: #383b48;
