@import "variables";
@import "mixins";

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 54px;
  width: 72px;
  padding: 12px;

  font-family: $primary-font;
  font-weight: bold;
  font-size: 16px;

  border-radius: 8px;
  background-color: $color-7;

  &.on {
    @include btnStyle($color-4);
  }

  &.off {
    @include btnStyle($color-6);
  }

  &:hover {
    cursor: pointer;
  }
}
