@import "variables";

.controls-container {
  width: 100%;
  background-color: $color-5;
}

.controls {
  display: grid;
  grid-template-columns: 72px auto;
  grid-template-rows: repeat(2, 1fr);
  gap: 12px;
  max-width: 768px;
  margin: 0 auto;
  padding: 24px;
}
