@import "variables";
@import "mixins";

.drum-pad {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  aspect-ratio: 1 / 1;
  font-size: 20px;
  padding: 12px;
  font-family: $primary-font;
  font-weight: bold;
  border-radius: 8px;
  background-color: $color-7;

  svg {
    width: 100%;
    align-self: center;
    font-size: 20px;
  }

  &:hover {
    cursor: pointer;
  }

  &.color-1 {
    @include btnStyle($color-1);
  }

  &.color-2 {
    @include btnStyle($color-2);
  }

  &.color-3 {
    @include btnStyle($color-3);
  }

  &.color-4 {
    @include btnStyle($color-4);
  }

  &.off {
    @include btnStyle($color-6);
  }

  // Styles for the key shortcut
  &.shortcut-color-1 {
    @include btnStyleActive($color-1);
  }
  &.shortcut-color-2 {
    @include btnStyleActive($color-2);
  }
  &.shortcut-color-3 {
    @include btnStyleActive($color-3);
  }
}
