@import "variables";
@import "mixins";
// Style tool: https://www.cssportal.com/style-input-range/

.slider {
  -webkit-appearance: none;
  background: $color-5;

  &.on {
    // Thumb
    &::-webkit-slider-thumb {
      @include thumb($color-4, "chrome");
    }
    &::-moz-range-thumb {
      @include thumb($color-4);
    }
    &::-ms-thumb {
      @include thumb($color-4, "ms");
    }

    // Track
    &::-moz-range-track {
      @include track($color-7);
    }
    &::-webkit-slider-runnable-track {
      @include track($color-7);
    }
    &::-ms-track {
      @include track($color-7, "ms");
    }
  }

  &.off {
    // Thumb
    &::-webkit-slider-thumb {
      @include thumb($color-6, "chrome");
    }
    &::-moz-range-thumb {
      @include thumb($color-6);
    }
    &::-ms-thumb {
      @include thumb($color-6, "ms");
    }

    // Track
    &::-moz-range-track {
      @include track($color-7);
    }
    &::-webkit-slider-runnable-track {
      @include track($color-7);
    }
    &::-ms-track {
      @include track($color-7, "ms");
    }
  }

  &::-ms-fill-lower {
    background: $color-7;
    border: none;
    border-radius: 16px;
    box-shadow: none;
  }

  &::-ms-fill-upper {
    background: $color-7;
    border: none;
    border-radius: 16px;
    box-shadow: none;
  }

  &:hover {
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
  }

  // Focus
  &:focus {
    outline: none;
  }
  &:focus::-webkit-slider-runnable-track {
    background: $color-7;
  }
  &:focus::-ms-fill-lower {
    background: $color-7;
  }
  &:focus::-ms-fill-upper {
    background: $color-7;
  }
}
